.rules-img {
    width: 150px;
    height: 150px;
    border-radius: 4%;
    margin: 40px;
}

.fas {
    margin: 50px
}
.rules- {
    font-size: 3.5rem;
}
.rules-text {
    font-size: 16px!important;
}