.rules-img {
    width: 150px;
    height: 150px;
    border-radius: 4%;
    margin: 40px;
}

.fas {
    margin: 50px
}
.rules-title {
    font-size: 3.5rem;
    color: #909fd8;
    
}
.rules-text {
    font-size: 26px!important;
    color: #909fd8;
}

.img-gif {
    width: 150px;
}